:root {
    --background: #1e262d;

    --title: #d6d3d3;

    --text: #f8f0e4;

    --header: #151a1e;

    --code: rgba(0, 0, 0, .2); 

    --item: #32326a;

    --svg-icon: #f0f8e4;
    
    --rs-logo: #f8f0e4;
  }

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    color: var(--text);
    background-color: #1d262d;
}

.theme {
    overflow: hidden;
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    max-width: 1800px;
}

.container {
    margin: 0 auto;

    max-width: 1440px;
}

/* ===== Header ===== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    height: 60px;
    padding: 0px 50px;

    background-color: var(--header);
    transition: 650ms ease-out;
}

.nav_list {
    display: flex;
    flex-wrap: wrap;
}

.nav_link {
    padding: 8px 10px;
    margin-left: 25px;

    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    
    border-radius: 10px;
    transition: color 10ms linear;
}

.nav_link:hover {
    border-bottom: solid 2px #ffffff;
    box-shadow: 0 0 5px #ffffff;
}
/* ===== Header End ===== */

/* ??????=====new feature======????? */
.choose-theme {
    position: absolute;
    top: 20px;
    right: 15px;
  }

.choose-theme label {
    position: relative;
    display: block;
    width: 55px;
    height: 24px;
    background: (var(--text));
    border: 2px solid var(--text);
    border-radius: 100px;
    cursor: pointer;
  }
  .choose-theme label:before {
    position: absolute;
    width: 4000px;
    height: 4000px;
    background: var(--background);
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    opacity: 1;
    transform: translate3d(-30%, -20%, 0) scale(0.1);
    transition: background 1s ease-in-out 2s, opacity 10s ease-in-out 10s, transform 1s ease-in-out;
    pointer-events: none;
    content: "";
    opacity: 0;
    z-index: -999;
  }
  .choose-theme label:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
    margin: auto;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid black;
    content: "";
    border-radius: 100px;
    transition: background 200ms linear, transform 200ms ease-in-out 100ms;
  }
  .choose-theme input {
    display: none;
  }
  .choose-theme input:checked ~ label:after {
    background: #000;
    transform: translate3d(27px, 0, 0);
  }
  .choose-theme input:checked ~ label:before {
    transform: translate3d(-84%, 23%, 0) scale(1);
    transition: background 300ms ease-in-out, opacity 300ms ease-in-out, transform 1s ease-in-out;
    opacity: 1;
  }

/* ===== Main  ===== */
.main {
    margin-top: 40px;
    height: 100%;
}

/* ===== Profile Section ===== */

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-bottom: 40px;

    transition: color 900ms ease-out;
}

.profile_user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--title);

    transition: 700ms linear;
}

.user_avatar {
    margin-right: 100px;

    border-radius: 50%;
    border: var(--title) 2px solid;

    transition: 700ms linear;
}

.user_name {
    font-size: 30px;
    font-weight: 700;
}

.user_family {
    font-size: 40px;
    font-weight: 700;
}

.contact_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    
    letter-spacing: 2px;
    
}

.contact_icon {
    margin-right: 20px;
    padding: 5px;
    
    border-radius: 10px;
    background-color: var(--svg-icon);

    transition: 300ms ease-out;
}


/* ===== Profile Section END ===== */

/* ===== Information ===== */

.information {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.information_inner {
    width: 50%;
}
#left {
    margin-right: 100px;
}
.section_title {
    margin-bottom: 20px;
    padding-bottom: 5px;

    font-size: 24px;
    font-weight: 700;
    color: var(--title);
    text-transform: uppercase;

    border-bottom: solid 1px #807c77;
    transition: color 50ms linear 500ms;
}

.section_inner {
    margin-bottom: 60px;

    font-size: 20px;

    transition: color 900ms linear;
}


/* ===== Code Example ==== */
pre {
    font-size: 16px;
    padding: 10px 20px 0px 10px;
    border-radius: 10px;
    background-color: var(--code);

    transition: 700ms linear;
}

.js-blue {
    color: #569cd6;
}

.js-namefunc {
    color: #dcdcaa;
}

.js-yellow {
    color: #ffd700;
}

.js-sky {
    color: #9cdcfe;
}

.js-pink {
    color: #c586c0;
}

.js-grey {
    color: #ce9178;
}
/* ===== Code Example END ==== */

/* ===== Projects ==== */
.project_item {
    max-width: max-content;
    overflow: hidden; 
    margin: 0 auto;
    padding: 0 10px;

    border-radius: 20px;
    box-shadow: 0 0 10px #32326a; 
    background-color: #32326a;

    transition: 0.1s linear;
}

.project_item:hover {
    box-shadow: 0 0 25px #32326a;
}

.project_photo {
    margin-bottom: 5px;
}

.project_name {
    
    margin-bottom: 15px;

    text-transform: uppercase;
    font-weight: 700;

    color: #f8f0e4;
}

.project_description {
    margin-bottom: 15px;

    font-weight: 400;
    font-style: italic;

    color: #f8f0e4;
}
/* ===== Projects END ==== */

/* ===== Skills  ==== */
.skills-item {
    font-size: 20px;
    font-weight: 700;
}

.skills-item:before  {
    font-size: 20px;
    font-style: normal;
    color: #f73859;

    content: "< "; 
}

.skills-item:after {
    font-size: 20px;
    font-style: normal;
    color: #f73859;

    content: "> "; 
}
/* ===== Skills END  ==== */

/* ===== Education ==== */
.education_year {
    margin-bottom: 10px;
    max-width: max-content;
    padding: 2px 10px;

    font-size: 18px;
    font-weight: 400;
    
    background-color: var(--item);
    border: 3px solid #32326a;
    border-radius: 10px;
}

.education_name {
    margin-bottom: 2px;

    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.education_prof {
    font-style: italic; 
    font-size: 20px;
    font-weight: 300;
}
/* ===== Skills END  ==== */

/* ===== Language ==== */
.language-item {
    font-style: italic; 
    font-size: 20px;
    font-weight: 300;
}

.language-item-bold {
    font-weight: 700;
}
/* ===== Language END ==== */

/* ===== Footer ==== */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 0px auto;
    
    background-color: var(--header);
    transition: 650ms ease-in;
}

 .footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 40px;
} 

.footer-inner_copyright {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}


.footer-inner_contact-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-links_item {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;  
}

.contact-links_item-rs {
    padding: 5px;
    border-radius: 10px;
    

    background-color: var(--rs-logo);
}

/* ===== Footer END ==== */

/* Adaptive */

@media (max-width: 1240px){
    .profile {
        flex-direction: column;
    }
    .profile_user {
        flex-direction: column;
    }

    .information {
        justify-content: center;
        flex-wrap: wrap;
    }

    .information_inner {
        width: 100%;
    }

    .user_avatar {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .user_family {
       margin: 32px 0 24px;
    }

    section{
        align-items: center;
        text-align: center;
    }

    .section_inner {
        font-size: 18px;
        margin-bottom: 24px;
    }

    #left {
        margin-right: 0px;
    }

    pre {
        font-size: 12px;
        text-align: start;
        overflow: scroll;   
    }

    .education_year {
        margin: 10px auto;
        
    }
}

@media (max-width: 1200px){

    .container {
        margin: 0 auto;
        max-width: 700px;
    }
    .header {
        height: 100%;
        padding: 40px 0;
    }
    .nav_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav_item {
        margin: 10px 0px;
    }
    .nav_link {
        font-size: 18px;
        margin-left: 5px;
    }
}

@media (max-width: 700px) {

    .footer {
        height: 100%;
    }
    .footer-inner {
        flex-direction: column;
        text-align: center;
    }

    .footer-inner_copyright {
        margin: 10px 0;

        font-size: 14px;
    }

    .footer-inner_contact-links {
        margin-bottom: 15px;      
    }

    .contact-links_item {
        font-size: 14px;
    }
}